PORT=3020
API_TOKEN=5d9cef4ccc761f82704fe008f8e311f1629f3bdd40b27052ae21a15764bd5ea7
SESSION_DIR=/data/session
RATE_LIMIT_PER_MINUTE=20
MESSAGE_DAILY_LIMIT=200
ALLOW_NO_TOKEN=false
PUPPETEER_HEADLESS=true
FRAPPE_URL=http://host.docker.internal:8000

